<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <nav>
        <a href="/"> Anchor Tag Takes GET Request
            <h1>Instagram</h1>
        </a>
    </nav>
</body>
</html>